{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    End of Game
{% endblock %}

{% block content %}

<p>
    Thank you for participating in this demo.
</p>
<p>
    Click Next to calculate dependent variables, as well as what your players would have earned from the experiment.
    You can see this information in the Admin interface (DVs are saved in the data for the final round, and earnings
    are displayed on the payments screen).
</p>

{% next_button %}

{% endblock %}
